# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Generated Audio Files
# ==========================================================

output/
*.wav

# ==========================================================
# Logs
# ==========================================================

logs/
*.log

# ==========================================================
# Python Build Files
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Pytest
# ==========================================================


# Piper Models
models/*.onnx
models/*.json
.pytest_cache/

# ==========================================================
# Jupyter Notebook
# ==========================================================

.ipynb_checkpoints/